################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/microservices-netcore-docker-servicefabric/v15/Server/sqlite3
