@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top: 20px;">
    <img src="~/images/duber_logo.png" alt="ASP.NET" class="img-responsive" />
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu faucibus justo. Vivamus sagittis ultricies nisi et placerat. Donec a orci rhoncus, accumsan felis ut, scelerisque ipsum. Quisque imperdiet diam sollicitudin maximus vehicula. Nulla luctus erat id erat lobortis, in sagittis leo luctus. Etiam fringilla lorem risus, at eleifend tellus vestibulum et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et felis non libero molestie tempus et et lectus. Vivamus imperdiet velit eget dolor varius, id tincidunt enim malesuada. Suspendisse quis lectus at leo ultricies accumsan vel sit amet lacus. Praesent tellus orci, pretium et diam et, malesuada commodo nibh. Morbi ornare ipsum tincidunt felis cursus, ut vulputate enim lacinia. Phasellus imperdiet vulputate efficitur. Aliquam accumsan quam posuere nisl sodales gravida.
        </p>
        <p>
            Mauris ac tellus a sem euismod auctor. In ipsum purus, dictum sit amet consectetur quis, porttitor at enim. Sed semper pharetra erat, quis ullamcorper mauris. Duis posuere enim id ornare ultricies. Mauris a orci ut risus facilisis accumsan at dictum mauris. Nulla facilisi. Fusce vel neque ut velit convallis ornare. Vestibulum aliquam felis in nisl semper, eget iaculis ligula efficitur. Curabitur sit amet dui eu orci congue porttitor sed id mauris. Fusce efficitur lorem a arcu rhoncus, ac aliquam mi mollis. Pellentesque commodo rutrum fringilla. Nunc vitae dolor scelerisque, ultrices turpis sed, condimentum tortor.
        </p>
    </div>
</div>
